/* ==========================================================================
   Base
   ========================================================================== */

/* Selections
   ========================================================================== */

::-moz-selection {
  background: $gray;
  color: $black;
  text-shadow: none;
}

::selection {
  background: $gray;
  color: $black;
  text-shadow: none;
}

::selection:window-inactive {
  background: $grayLight;
  color: $gray;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

/* Typography
   ========================================================================== */

* {
  @include box-sizing(border-box);
}

html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0 auto;
  font-family: $fontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $white;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Headings */

h1 {
  font-weight: 100;
  margin: 100px 0 50px 0;
  @include font-size(5);
}

h2 {
  @include font-size(3);
}

h3 {
  @include font-size(2.5);
}

h4 {
  @include font-size(2);
}

h5 {
  @include font-size(1.6);
}

h6 {
  @include font-size(1.2);
}

hr {
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
}

/* Links */

a {
  text-decoration: none;
  color: $gray;

  &:hover {
    color: $grayDark;
  }

  &:active {
    outline: none;
  }
}

/* Images */

img {
  max-width: 100%;
}


