/* ==========================================================================
   Layout
   ========================================================================== */

/* Grid
   ========================================================================== */

.container {
  @include outer-container;
  text-align: center;
}

.logo {
  width: 170px;
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 0;
  margin: 0;
}

footer {
  margin-top: 50px;
  margin-bottom: 50px;
  a {
    color: $color;
    font-weight: 300;
    @include font-size(1.2);
  }
  .social {
    padding: 0 5px;
    @include font-size(1.5);
  }
}
