// =============================================================================
// Mixins
// =============================================================================

// General
// =============================================================================

// px fallback font for rem

@mixin font-size($val) {
  font-size: ($val * 10) + px;
  font-size: $val + rem;
}

// Clearfix

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Hide

@mixin hide() {
  display: none !important;
  visibility: hidden !important;
}

// Handling breakpoints for media queries

@mixin breakpoint($val) {
  @if $val == small {
    @media ($small) {
      @content;
    }
  }
  @else if $val == medium {
    @media ($medium) {
      @content;
    }
  }
  @else if $val == large {
    @media ($large) {
      @content;
    }
  }
}
