// =============================================================================
// Modules
// =============================================================================

// Forms
// =============================================================================

input.email {
  display: inline-block;
  width: 375px;
  height: auto;
  padding: 20px;
  border: 1px solid $gray;
  border-radius: $base-border-radius;
  margin: 0;
  outline: none;
  font-family: $base-font-family;
  font-weight: 300;
  color: $gray-light;
  background: $gray-main;

  @include placeholder() {
    font-weight: 300;
    color: $gray-light;
  }

  &:focus {
    border-color: $blue-lighter;
    outline: none;
  }
}

input.button {
  @include transition(background 0.3s ease-in-out);
  display: inline-block;
  padding: 20px 30px;
  border: none;
  border-radius: $base-border-radius;
  background: $blue;
  font-weight: 300;
  color: $white;

  &:hover {
    color: $white;
    background: $blue-dark;
  }
}

@include breakpoint(medium) {
  input.email {
    width: 90%;
    margin: 0 5%;
  }

  input.button {
    width: 90%;
    margin: 10px 5% 0 5%;
  }
}

@include breakpoint(small) {
  input.email {
    width: 100%;
    margin: 0;
  }

  input.button {
    width: 100%;
    margin: 10px 0 0 0;
  }
}

// Captions
// =============================================================================

.caption {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  overflow: hidden;
  background: #000;

  &.last {
    margin-bottom: 0;
  }

  img {
    @include transition(opacity 0.3s ease-in-out);
    display: block;
    max-width: 100%;
  }

  &:hover img {
    opacity: 0.5;
  }

  &::after,
  &::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    color: $white;
    z-index: 1;
    @include transition(all 0.3s ease-in-out);
  }

  &::after {
    @include transform(translateY(-100%));
    top: 0;
    padding: 90px 0;
    content: attr(data-title);
    @include font-size(3);
    font-weight: 100;
    background: $gray-darker;
  }

  &::before {
    @include transform(translateY(100%));
    top: 50%;
    padding: 50px 30px;
    @include font-size(1);
    content: attr(data-description);
    background: $gray-lightest;
    color: $gray;
  }

  &:hover::after,
  &:hover::before {
    @include transform(translateY(0%));
  }
}

@include breakpoint(medium) {
  .caption {
    &.last {
      margin-bottom: 20px;
    }
  }
}

@include breakpoint(small) {
  .caption {
    &.last {
      margin-bottom: 20px;
    }
  }
}
