/* ==========================================================================
   Modules
   ========================================================================== */

/* Floats
   ========================================================================== */

.clearfix {
  @include clearfix();
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Toggle content
   ========================================================================== */

.hide {
  display: none !important;
  visibility: hidden !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}
