<footer role="contentinfo">
  <div class="container">
    <h2>Launching spring 2014</h2>
    <form action="http://medufy.us7.list-manage2.com/subscribe/post?u=a191134005491d6a8c1d4da0e&amp;id=9ebebcdb7a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="email" placeholder="Enter a valid e-mail adress">
      <input type="submit" value="Get notified!" name="subscribe" id="mc-embedded-subscribe" id="mce-EMAIL" class="button" >
    </form>
    <p>
      Got any questions? Contact us <a href="mailto:info@medufy.com">info@medufy.com</a>.
    </p>
  </div>
</footer>
